<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936574493179-ct1p1ms3gdtpl9phtpu0vs6kulm11uhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936574493179-ct1p1ms3gdtpl9phtpu0vs6kulm11uhs</string>
	<key>API_KEY</key>
	<string>AIzaSyDFG2cAsmGQfNr1Vzn0PtjALgTiH1_qQtc</string>
	<key>GCM_SENDER_ID</key>
	<string>936574493179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.smartis.QRRestarantMenuApp</string>
	<key>PROJECT_ID</key>
	<string>arcanaqrmenu</string>
	<key>STORAGE_BUCKET</key>
	<string>arcanaqrmenu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936574493179:ios:30c29f412947ce66a32b5e</string>
</dict>
</plist>